.work {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;

  &__card {
    display: flex;
    padding-top: $paddingVertical;
    flex-direction: column;
  }
  &__icon {
    background: $Color5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 25px 102px;
  }
  &__title {
    font-weight: $fontWeight2;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $Color4;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $Color3;
  }
}
